.App {
  text-align: center;
}
body {
  background-image: url("./photo.jpg");
  background-size: 100%;
  /* height: 100px; */
  /* padding: 10vh 0 10vw 0; */
}

.profilepic {
  padding-right: 300px;
  width: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .mb-14 {
  margin-bottom: 16rem !important;
}

.pb-10 {
  padding-bottom: (spacer * 6) !important;
}

.pe-10 {
  padding-right: (spacer * 7) !important;
} */

/* .background {
  background-image: url("./photo.jpg");
  padding: 50px 0 50px 0;
  height: 100px;
  background-size: 100%;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
