.App {
  text-align: center;
}
body {
  background-image: url("./photo.jpg");
  background-size: 100%;
  font-family: Futura;
}

.profilepic {
  padding-right: 300px;
  width: auto;
  opacity: 1;
}

code {
  /* font-family: Montserrat; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blackoverlay {
  background: rgba(40, 159, 210, 0.504);
}

.space {
  margin: 20px 10px;
}

.text-nowrap {
  white-space: nowrap;
}
